extends layout

block content
    if highScore
        h1 Hello #{highScore.name}!
        p Whooow, you are fast!
        pre= JSON.stringify(highScore, null, 2)
    else
        h1 There's no such highScore!
    script.
        console.log(!{JSON.stringify(highScore)})